body {
    font-family: Montserrat;
    background: url("/static/main/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 14%;
    width: 100%;
    /* border: 3px solid rgb(0, 0, 0); */
    padding-bottom: 0;
    background: #201b21;
    color: #ffffff;
}

.main-header {
    top: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    padding-bottom: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.logo {
    width: 20%;
    /* border: 3px solid red; */
    position: relative;
}

.nav-info {
    /* border: 3px solid green; */
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.social-network {
    /* border: 3px solid orange; */
    width: 7%;
}

.nav {
    /* border: 3px solid fuchsia; */
    margin-top: auto;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: auto;
    height: auto;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cont {
    padding: 0 40px;
    margin: auto;
    border-radius: 5px;
}

.location img {
    width: 2%;
    height: 2%;
}

.nav a {
    font-size: 20px;
    color: #ffffff;
    border: 0.5px solid white;
}

.nav a:hover {
    color: #eb5959;
    transform: scale(1.08);

}

main {
    border: 1px solid red;
    height: 90em;
    width: 95%;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;

}

.main-products-home {
    border: 1px solid green;
}

.index-main-container {
    width: 100%;
    background-color: rgba(122, 122, 122, 0.767);
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.index-catalog-container {
    border: 1px solid green;
    width: 100%;
    height: 23em;
    background-color: #f8f9fa;
    margin: auto;
    padding: auto;
    text-align: center;
}

.content-wrapper {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-main-container h1 {
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 60px;
    margin: 0 20px;
}

.info-box {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 80px;
    margin: 0 20px;
}

.image-box {
    position: relative;
    width: 25em;
    height: 44em;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.image-box:hover img:first-of-type {
    filter: brightness(0%);
    /* Уменьшаем яркость только для первого изображения */
}

.btn-primary:hover {
    transform: scale(1.1);
}

.info-box img {
    filter: none !important;
    /* Отключаем фильтр для изображений внутри info-box */
    opacity: 1;
    transition: none;
}

.info-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

.image-box:hover .info-box {
    opacity: 1;
}

.info-box h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.image-with-caption-container {
    display: flex;
    justify-content: space-between;
    /* Устанавливаем направление строкой */
    gap: 10px;
}

.image-with-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.image-with-caption img {
    width: 90px;
    height: auto;
    margin-bottom: 5px;
}

.image-with-caption p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.info-box .btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.info-box .btn:hover {
    background-color: #0056b3;
}

/*=====================*/
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    height: 23em;
    border: 1px solid orange;
}

.products-item {
    flex: 0 1 calc(20% - 20px);
    margin: 10px 0;
    margin-left: 10px 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    text-align: center;
    height: 21em;
    border: 1px solid palevioletred;
}

.products-item span {
    font-size: 13px;
}

.products-image {
    max-width: 100%;
    height: 80px;
}